.affectBlock {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 2.5rem;
}

h2.tools {
  transform: translateX(-2rem);
  animation: slide-in 2.8s ease-in-out;
}
h2.impact {
  transform: translateX(3rem);
  animation: fade-in 3s ease-in;
}

.affectBlock h2 span {
  font-size: 4rem;
}

.typewriterBlock {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  height: 4rem;
  padding: 1rem;
}

.buttonBlock {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  animation: fade-in 7s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-500%);
  }
  80% {
    transform: translateX(15%);
  }
  to {
    transform: translateX(-2rem);
  }
}

@keyframes fade-in {
  0% {
    filter: opacity(0%);
  }
  90% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}
